.background {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr 1.5fr 0.5fr 1fr 0.5fr 2fr 1fr;
  position: relative;
}

.beige {
  background-color: var(--color-beige);
  width: 100%;
  height: 100%;
}

.green {
  background-color: var(--color-green);
  width: 100%;
  height: 100%;
}

.blue {
  background-color: var(--color-blue);
  width: 100%;
  height: 100%;
}

.rose {
  background-color: var(--color-pink);
  width: 100%;
  height: 100%;
}

.black {
  background-color: var(--color-black);
  width: 100%;
  height: 100%;
}

.purple {
  background-color: var(--color-purple);
  width: 100%;
  height: 100%;
}

.red {
  background-color: var(--color-red);
  width: 100%;
  height: 100%;
}

.mustard {
  background-color: var(--color-mustard);
  width: 100%;
  height: 100%;
}

.box {
  position: absolute;
  top: 40%;
  left: 50%;
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  background: var(--color-beige);
  transform: translate(-50%, -50%);
  min-width: 30rem;
  max-width: 45rem;
}

.title {
  color: var(--color-black);
  font-size: 3.6rem;
}

.subtitle {
  font-size: 1.6rem;
}

.pin-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.location {
  margin-top: 0.8rem;
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  align-items: center;
}

.location-text {
  font-size: 1.6rem;
}

.logo {
  margin-left: auto;
}
